[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "categoryEncodings"]
	path = categoryEncodings
	url = https://github.com/jszitas/categoryencodings
[submodule "panelWranglR"]
	path = panelWranglR
	url = https://github.com/jszitas/panelwranglr
